@font-face {
    font-family: 'Monotype Corsiva';
    src: local('Monotype Corsiva'), local('MonotypeCorsiva'),
        url('../font/MonotypeCorsiva.woff2') format('woff2'),
        url('../font/MonotypeCorsiva.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}