.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &-letter {
        width: 1.2587890625em;
    }

    &-letter2 {
        width: 1.0859375em;
    }

    &-star {
        width: 1.0625em;
    }

    &-pencil {
        width: 1.22265625em;
    }

    &-bird {
        width: 1.271484375em;
    }
}