:root {
    --dark: #3F3F3F;
    --dark2: #1B1B1B;
    --grey1: #727272;
    --grey2: #CACACA;
    --grey3: #F3F3F3;
    --grey4: #EBEBEB;
    --blue: #0057FF;
    --white: #FFFFFF;
    --font: "Montserrat", sans-serif;
    --font2: 'Monotype Corsiva';
}